@import '../../stylesheets/colors.scss';

.ItemBonus {
    vertical-align: top;
    background-color: $whiteMetalText;
    padding: 20px 20px 80px;
    position: relative;
    top: -20px;
    text-align: center;
    clip-path: polygon(0 100%, 50% 75%, 100% 100%, 100% 0, 45% 0, 0 0);

    &:after {
        content: ' ';
        position: absolute;
        z-index: 2;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border: 4px dashed $metalText;
        clip-path: polygon(0 100%, 50% 75%, 100% 100%, 100% 0, 45% 0, 0 0);
    }

    h4,
    p {
        color: $blackText;
    }

    h4 {
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 10px;

        &:after {
            content: '';
            position: relative;
            display: block;
            width: 100px;
            margin: 5px auto 0;
            height: 3px;
            background-color: $metalText;
        }
    }

    p {
        font-size: 30px;
        margin: 0 0 5px;
    }

    b {
        font-size: 35px;
        color: $itemRedColor;
    }

    @media (max-width: 425px) {
        padding: 5px 20px 80px;

        p {
            font-size: 28px;
        }
    }
}
