@import '../../stylesheets/colors.scss';
$sizeSpan: 40px;
$sizeLogo: 200px;
$sizeInfoWrapper: 350px;

.ItemDescription {
    .ItemDescription__logo,
    .ItemDescription__info {
        display: inline-block;
        vertical-align: top;
        padding: 20px 0px 20px 40px;
    }

    .ItemDescription__logo {
        width: $sizeLogo;
        cursor: pointer;
        transition: 0.3s;

        picture img {
            width: $sizeLogo;
            height: $sizeLogo;
            border-radius: 100%;
            overflow: hidden;
        }

        span {
            width: $sizeSpan;
            height: $sizeSpan;
            line-height: $sizeSpan;
            position: absolute;
            text-align: center;
            background-color: $itemRedColor;
            border-radius: 100%;
            color: white;
            font-weight: bold;
            margin: 10px;
        }

        &:hover {
            opacity: 0.6;
        }
    }

    .ItemDescription__info {
        width: $sizeInfoWrapper;

        p {
            color: $greyText;
        }

        .ItemDescription__features {
            padding: 0;

            li {
                color: $blackText;
                list-style: none;

                &,
                & > svg {
                    display: inline-block;
                    vertical-align: middle;
                }

                svg {
                    color: $metalText;
                    margin-right: 10px;
                }
            }
        }
    }
}
